<!-- Hero Section Begin -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card hero__item">
                <div class="card-image">
                    <img class="responsive-img" src="img/hero/banner.jpg">
                    <div class="card-title black-text">
                        Category
                        <br><br>
                        Product name
                    </div>
                </div>
                <div class="card-content">
                    <a href="#">View Product</a>
                    <button>Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End -->