<nav class="nav-extended container transparent">

  <div class="row">

    <div class="col ">
      <a href="tel:8448440572"><i class="material-icons black-text">call</i></a>
    </div>
    <div class="col">
      <a href="#">
        <img src="img/logo.png" alt="Apna Kisan" width="60px" height="60px">
      </a>
    </div>
    <div class="col ">
      <h5 class=" green-text" style=" padding: 10px;margin-top: 10px;">अपना किसान</h5>
    </div>
    <div class="col ">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>


  </div>


  <div class="nav-content">
    <div class="row">
      <div class="col s12">
        <nav class="black-text lime lighten-1">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About Us</a></li>
          </ul>
        </nav>

      </div>

      <div class="col s12 offset-s4">
        <ul>
          <li><i class="material-icons black-text" onclick="openSearch()">search</i></li>
          <li>
            <a href="/shoppingcart">
              <i class="material-icons black-text">shopping_basket</i>
              <span id="cartQty" class="notification-badge black-text">0</span>
            </a>
          </li>
          <li><a href="https://wa.me/918448440572">
              <img src="img/whatsapp.png" alt="" srcset="" width="25px" height="25px" style="margin-top: 15px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" id="search-div" style="display: none;">
      <input type="text" id="search-input" placeholder="search here" onkeyup="searchProductLi()">
      <ul class="collection with-header" id="search-content" style="display: none;">

      </ul>
    </div>

  </div>


</nav>

<ul id="slide-out" class="sidenav light-green lighten-5">
  <li>
    <div class="user-view">
      <div class="background" style="background-color :rgb(154,179,34,0.7)">

      </div>
      <a href="#user"><img src="img/logo.png" class="circle" alt="Apna Kisan"></a>
      <a href="#phone"><span class="white-text phone" id="user-phone-number">phone</span></a>
    </div>
  </li>
  <li class="active"><a href="/"><i class="material-icons">home</i>Home</a></li>
  <li><a href="#">Shop</a></li>
  <li><a href="#">Blog</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">About Us</a></li>
</ul>